<%- include('partials/header') %>

<div class="container">
<h1><%= campground.name  %></h1>
<img src="<%= campground.image %>">

<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
    <button class="btn btn-primary btn-lg">delete</button>
</form>

<a class="btn btn-primary btn-lg" href="/campgrounds/<%= campground._id %>/edit" role="button">Edit</a>

<% if(campground.post.length == 0){  %>
    <h3>No comment</h3>
    
<% } else{ %>
    <h3>comments are</h3>
<% for(var i=0; i < campground.post.length ; i++ ){%>
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"><%= campground.post[i].name  %></h5>
          <p class="card-text"><%= campground.post[i].content%></p>
        </div>
    </div>
    <% } %>
<% } %>

<form action="/campgrounds/<%= campground._id %>/comment" method="POST" class="d-flex flex-column mt-3">
    <div>
        <h1>Add comment</h1>
        <textarea name="content" cols="30" rows="4" class="form-control m-3"></textarea>
        <button class="btn btn-primary w-50 ml-4 mt-0">submit</button>

    </div>

</form>

</div>


<%- include('partials/footer') %>
